.banner {
    margin-left: 70px;
    margin-top: 50px;
    display: flex;
}

.banner-text {
    color: aliceblue;
    font-family: Merriweather;
    top: 28%;
    right: 35%;
    position: absolute;
    text-align: center;
    display: block;
}

.h {
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;

}

.n {
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

.text {
    font-family: Inter;
    text-align: center;
    padding-bottom: 200px;

}

.text-p {
    font-size: 88px;
    font-weight: 700;
    line-height: 107px;
    color: red;
}

.text-o {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    color: red;
}

.text-a {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
}

.img {
    text-align: center;
    margin-bottom: 100px;
}

.ban {
    position: relative;
    text-align: center;
    /* display: block;  */
}


.banner-texts {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    gap: 10px;
}

.text-q {
    font-family: Inter;
    font-size: 18px;
    position: absolute;
    padding-top: 180px;
}

.j {
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    position: absolute;
    margin-bottom: 400px;
    margin-right: 100px;
    border-right: 400px;

}

.imgs {
    height: 100px;
    width: 250px;
    margin-left: 300px;
    margin-bottom: 1250px;
    margin-left: 710px;

}

.text-f {
    text-align: center;
    padding: 180px 320px;
    font-size: 32px;
    background-color: blanchedalmond;
    margin: 150px 120px;
}

.p {
    color: red;
}

.batton {
    background: red;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.off {
    color: red;
}

.coming {
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
}

.con {
    display: flex;
    /* justify-content: space-between; */
    position: absolute;
    font-family: Inter;
    padding-bottom: 200px;
}

.part {
    flex: 0 0 30%;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

.part img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.new {
    color: red;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    text-align: center;

}

.new-n {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    color: red;

}

.com {
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;

}

.d {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;

}

.x {
    text-align: center;
    padding-top: 500px;
}

.y {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}

.z {
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    font-family: Inter;
    font-size: 72px;
    font-weight: 700;
    padding-left: 100px;
    padding-right: 450px;
}

.w {
    color: red;
    padding-left: 280px;
}

.i {
    font-family: Inter;
    font-size: 30px;
    font-weight: 500;
    line-height: 32px;

}

.main-pics {
    display: flex;
}

.third-pic {
    border-top: 100px;
    height: 240px;
    padding-bottom: 200px;
}

.fast {
    height: 600px;
    width: 600px;
}

.secent-pic {
    height: 500px;
    width: 500px;
    padding-top: 200p;


}

.forth {
    height: 100px;
}

.pic-s {
    text-align: center;
}

.main-b {
    text-align: center;
    padding: 180px 320px;
    font-size: 32px;
    background-color: blanchedalmond;
    margin: 150px 120px;
}


.group-d {
    border-radius: 50px;
    height: 50px;
    width: 400px;
    width: 141px top: 6479.07px left: 460px border-radius: 50px
}

.group-e {
    pxfont-family: Inter;
    background-color: red;
    color: aliceblue;
    height: 50px;
    padding: 10px 40px 10px;
    position: absolute;
    font-size: 20px;
    border-radius: 50px;

}

.text-x {
    background-color: rgb(3, 0, 0);
    color: #ccc;
    font-size: 32px;
    margin: 150px 120px;
}

.text-v {
    justify-content: space-between;
    display: flex
}

.main-w {
    font-family: Inter;
    font-size: 24px;
    padding-left: 180px;

}

.main-u {
    font-family: Inter;
    font-size: 24px;
    padding-right: 180px;

}

.text-y {
    text-align: center;
}

.text-j {
    padding-left: 180px;
    width: 269.19px height: 58px
}

.text-i {
    padding-right: 180px;
    width: 269.19px height: 58px
}

.text-k {
    justify-content: space-between;
    display: flex;
}

.phn-nambar {}