.banner {
    margin-left: 70px;
    margin-top: 50px;
    display: flex;
}

.banner-text {
    color: aliceblue;
    font-family: Merriweather;
    top: 28%;
    right: 35%;
    position: absolute;
    text-align: center;
    display: block;
}

.h {
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;

}

.n {
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

.text {
    font-family: Inter;
    text-align: center;
    padding-bottom: 200px;

}

.text-p {
    font-size: 88px;
    font-weight: 700;
    line-height: 107px;
    color: red;
}

.text-o {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    color: red;
}

.text-a {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
}

.img {
    text-align: center;
    margin-bottom: 100px;
}

.ban {
    position: relative;
    text-align: center;
    /* display: block;  */
}


.banner-texts {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    gap: 10px;
}

.text-q {
    font-family: Inter;
    font-size: 18px;
    position: absolute;
    padding-top: 180px;
}

.w {
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    position: absolute;
    margin-bottom: 400px;
    margin-right: 100px;
    border-right: 400px;

}

.imgs {
    height: 100px;
    width: 250px;
    margin-left: 300px;
    margin-bottom: 1500px;
    margin-left: 700px;

}

.text-f {
    text-align: center;
    padding: 180px 320px;
    font-size: 32px;
    background-color: blanchedalmond;
    margin: 150px 120px;
}

.p {
    color: red;
}

.batton {
    background: red;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.off {
    color: red;
}

.coming {
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
}

.container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    font-family: Inter;
    padding-bottom: 200px;
}

.part {
    flex: 0 0 30%;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

.part img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.new {
    color: red;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    text-align: center;

}

.new-n {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    color: red;

}

.com {
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;

}

.d {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;

}